@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none;
    text-decoration: none;
}

body {
    box-sizing: border-box  ;
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho__menu {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    padding: 2% 0 0 15%;
}

.cabecalho__menu__link {
    color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.apresentacao {
    padding : 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;   
    width: 378px;
    padding: 16px;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    transition: 0.2s all;
}

.apresentacao__links__botao:hover {
    background-color: #22D4FD;
    color: #000000;
}

.apresentacao__links__botao:hover .apresentacao__links__botao__icone {
    transition: 0.2s;
    filter: brightness(0);
}

.imagem__principal {
    height: 482px;
    border-radius: 10vh;
}

.rodape {
    text-align: center;
    padding: 23.64px 0;
    color: #000000;
    background-color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
